<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>crud</title>
  </head>
  <body>
    <form method="POST">
      {% csrf_token %}
      <div>
        <input type="text" name="usename" placeholder="task name" />
      </div>
        <div>
        <input type="password" name="password" placeholder="task name" />
      </div>
      <button type="submit">add</button>
    </form>
    {% comment %}
    <p>{{task}}</p>
    {% endcomment %}
  </body>
</html>
